<!doctype html>
<html lang="en">

    <head>
        <title> {% block title %} {% endblock %}  </title>
          

    </head>
    <body>
        <header>
            <h1><a href="{{ url_for('view_welcome_page') }}">Severin Murcina</a> </h1>
        </header>
     
     
        <nav>
            {% include "_nav.jinja" %}
        </nav>

        <main>
            {% block main %} {% endblock %}

        </main>
        
        <footer>
            {% include "_footer.jinja" %}
            <p>% include "_head.jinja" %</p>
        </footer>
    </body>
</html>