{% extends '_main.jinja' %}

{% block title %} Welcome to Markdown blog {% endblock %}

{% block main %}
Ipsum dolor sit amet, consectetur adipisicing elit, sed eusmod tempor incididunt ut labore et dolore magna aliqua. Ut im ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
{% endblock %}